@import '~@theme/colors.scss';
@import './responsive-semantic-ui.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');

body {
  background: $shadow !important;
}

.logo {
  width: 150px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a {
  font-family: 'Noto Sans TC', sans-serif !important;
}

h1 {
  vertical-align: middle !important;
}
